<% depositor = gf.depositor || batch.generic_files.first.depositor %>
<% is_batch = params[:controller] == 'batch'%>



<input type="hidden" name="generic_file[permissions][group][public]" value="1" />
<input type="hidden" name="generic_file[permissions][group][registered]" value="2" />

<h2><% if params[:controller] == 'batch' %>Bulk <% end %>Permissions <% if params[:controller] == 'batch' %>
      <small>(applied to all files just uploaded)</small><% end %>
</h2>

<div class="alert alert-info hidden" id="save_perm_note">Permissions are <strong>not</strong> saved until the &quot;Save&quot; button is pressed at the bottom of the page.</div>
<div class="alert alert-warning hidden" id="permissions_error">
  <a class="close" data-dismiss="alert" href="#">
    <span class="sr-only">Close this alert</span>
    <span aria-hidden="true">×</span>
  </a>
<span id="permissions_error_text"></span></div>

<div class="well">

  <!-- Visibility -->
  <% visibility_text = capture do %>
    <%= render partial: 'generic_files/visibility' %>
  <% end %>
  <h3>Visibility - <small>who should have the ability to read and download</small>
    <span id="visibility_tooltip" class="h5"><%= help_icon('visibility', visibility_text) %></span>
  </h3>
  <div class="radio">
    <label>
      <input type="radio" id="visibility_open" name="visibility" value="<%=Hydra::AccessControls::AccessRight::VISIBILITY_TEXT_VALUE_PUBLIC %>" <% if gf.public? || is_batch %> checked="true"<% end %>/> <span class="label label-success">Open Access</span> Visible to the world.
    </label>
    <label>
      <input type="radio" id="visibility_restricted" name="visibility" value="discoverable" <% if gf.discoverable? %> checked="true"<% end %>/> <span class="label label-warning">Discoverable</span> Only metadata visible.
    </label>
    <label>
      <input type="radio" id="visibility_psu" name="visibility" value="<%=Hydra::AccessControls::AccessRight::VISIBILITY_TEXT_VALUE_AUTHENTICATED %>" <% if gf.registered? && !gf.discoverable? && !gf.public? %> checked="true"<% end %> /><span class="label label-info"><%=t('sufia.institution_name') %></span> Visible only to <%=t('sufia.institution_name') %> users.
    </label>
    <label>
      <input type="radio" id="visibility_restricted" name="visibility" value="<%=Hydra::AccessControls::AccessRight::VISIBILITY_TEXT_VALUE_PRIVATE %>"<% if gf.private? && !is_batch %> checked="true"<% end %> /> <span class="label label-danger">Private</span> Visible to users/groups specified below, if any.
    </label>
  </div>

  <!-- Share With -->
  <% share_with_text = capture do %>
    <%= render partial: 'generic_files/share_with' %>
  <% end %>
  

</div><!-- /.well -->

<table class="table table-bordered">
  <tr>
    <th width="60%">Person/Group</th>
    <th width="40%">Access Level</th>
  </tr>
  <tr id="file_permissions">
    <td>
      <%= label_tag :owner_access, class: "control-label" do %>
        Depositor (<span id="file_owner" data-depositor="<%= depositor %>"><%= link_to_profile depositor %></span>) 
      <% end %>
    </td>
    <td>
      <%= Sufia.config.owner_permission_levels.keys[0] %>
    </td>
  </tr>
  <% gf.permissions.each do |permission| %>
    <%# skip the public, penn state (aka registered), and depositor perms as they are displayed first at the top %>
    <% next if permission[:name].downcase == 'public' %>
    <% next if permission[:name].downcase == 'registered' %>
    <% next if permission[:name].downcase == depositor %>
    <tr>
      <td><%= label_tag "generic_file[permissions][#{permission[:type]}][#{permission[:name]}]", permission[:name], class: "control-label" %></td>
      <td>
        <div class="col-sm-8">
          <%= select_tag "generic_file[permissions][#{permission[:type]}][#{permission[:name]}]", options_for_select(Sufia.config.permission_levels, permission[:access]), class: 'form-control select_perm' %>
        </div>
        <button class="btn close remove_perm">X</button>
      </td>
    </tr>
  <% end %>
</table>
